<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/bootstrap-4.4.1.min.css') }}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/font-awesome.min.css') }}">

    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='lib/js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/js/popper-1.6.1.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/js/bootstrap-4.4.1.min.js') }}"></script>

    {% block head_exts %}{% endblock %}
    <title> - {% block title %} {% endblock %}</title>

</head>
<body>
<header id="job-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static',filename='icons/bootstrap.svg') }}" alt="" title="Bootstrap"
                     style="color: #9C27B0">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-5 pl-lg-5 brand-ul">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('seeker.index') }}"><span>校园招聘</span><span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span>实习生招聘</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span>了解我们</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto auth-ul">
                    {% if not g.user %}
                        <li class="nav-item active">
                            <a href="{{ url_for('auth.login') }}"><span>登录</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="text-muted disabled" href="#"><span>/</span></a>
                        </li>
                        <li class="nav-item register">
                            <a href="{{ url_for('auth.register') }}"><span>注册</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="#"><span>{{ g.user.username }}</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="text-muted disabled" href="#"><span>/</span></a>
                        </li>
                        <li class="nav-item">
                              <a href="{{ url_for('auth.logout') }}"><span>退出</span></a>
                        </li>
                    {% endif %}

                    {% block header %}

                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</section>

<footer id="job-footer" class="flex justify-content-center align-items-center" ">
        <div class="col-12 flex justify-content-center align-items-center">
            <p>&copy; 山西大学计算机与信息技术学院</p>
        </div>
</footer>

</body>
</html>