{% extends 'seeker/base_job.html' %}
{% block head_exts %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/seeker_job_detail.css') }}">
    <script src="{{ url_for('static',filename='js/seeker_index.js') }}"></script>
    <script>
        // 借助外部按钮触发form提交
        $(function () {
            $("#login-btn").on("click", function () {
                $("#submit").trigger("click");
            })
        })
    </script>
{% endblock %}

{% block content %}
    <section id="job-detail-container">
        <div class="placeholder"></div>
        <div class="container">
            <div class="job-detail-wrap col-12">
                <div class="job-card-wrap">
                    <div class="title-wrap">
                        <span>{{ job.job_category }}</span>
                    </div>

                    <div class="job-title-wrap">
                        <!--category-->
                        <div class="job-title">
                            <span>{{ job.job_name }}</span>
                        </div>
                        <div class="job-city">
                            <img src="{{ url_for('static',filename='icons/alarm.svg') }}" alt="">
                            <span class="value">{{ job.workplace }}</span>
                            <img src="{{ url_for('static',filename='icons/alarm.svg') }}" alt=""
                                 style="margin-left: 20px">
                            <span class="value">{{ job.job_type }}</span>
                        </div>
                    </div>
                    <hr class="devider">
                    <div class="job-content">
                        <div class="content-item">
                            <h4>岗位描述：</h4>
                            <pre>
                                {{ job.job_desc }}
                            </pre>
                        </div>
                        <div class="content-item">
                            <h4>岗位要求:</h4>
                            <pre>
                                {{ job.job_requirement }}
                            </pre>
                        </div>
                        <div class="content-item">
                            <div class="flex justify-content-start align-items-center">
                                <h4>公司介绍: </h4>
                                <span class="badge badge-info">{{ enterprise_name }}</span>
                            </div>
                            <div class="company-introduction">
                                <pre>
                                    {{ enterprise_desc }}
                                </pre>
                            </div>
                        </div>
                    </div>

                    <div class="contact">
                        <h4>申请职位</h4>
                        {% if g.user %}
                            <a class="btn btn-primary" href="{{ url_for('seeker.job_edit',ind=job.id) }}">投递简历</a>
                        {% else %}
                            <a class="btn btn-primary" data-toggle="modal" data-target="#login-modal">登录投递简历</a>
                        {% endif %}
                        <!-- Modal -->
                        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle" style="text-align: center">
                                            登录</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('auth.current_page_login') }}" method="post">
                                            <input type="text" class="d-none" name="job_id" value="{{ job.id }}">
                                            <div class="form-group">
                                                <label for="username" class="col-form-label">用户名</label>
                                                <input type="text" class="form-control" id="username" name="username"
                                                       placeholder="请输入用户名">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label">密码</label>
                                                <input type="password" class="form-control" id="password" name="password"
                                                       placeholder="请输入密码">
                                            </div>
                                            <input type="submit" id="submit" class="d-none">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="login-btn" class="btn btn-primary">登录</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="devider">
                    <div class="share">
                        <img src="{{ url_for('static',filename='images/weixin.png') }}" alt="">
                        <span class="text-muted">分享职位给你的小伙伴，让更多优秀的人一起来做有挑战的事</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="placeholder"></div>
    </section>
{% endblock %}
